beautifulsoup4==4.12.2
langchain==0.2.11
langchain-core==0.2.25
langchain-openai==0.1.19
langchain-text-splitters==0.2.2
langserve==0.2.2
langsmith==0.1.94
openai==1.37.1
pdfplumber==0.5.28
pydantic==2.8.2
pydantic_core==2.20.1
python-dotenv==1.0.1
requests==2.32.3
tiktoken==0.7.0
uvicorn==0.15.0
fastapi==0.112.0
